################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/DxLib/zlib_x64_d.lib
/DxLib/zlib_x64.lib
/DxLib/zlib_vs2015_x86_MTd.lib
/DxLib/zlib_vs2015_x86_MT.lib
/DxLib/zlib_vs2015_x86_MDd.lib
/DxLib/zlib_vs2015_x86_MD.lib
/DxLib/zlib_vs2015_x64_MTd.lib
/DxLib/zlib_vs2015_x64_MT.lib
/DxLib/zlib_vs2015_x64_MDd.lib
/DxLib/zlib_vs2015_x64_MD.lib

/DxLib/zlib_d.lib
/DxLib/zlib.lib
/DxLib/vorbis_static_x64_d.lib
/DxLib/vorbis_static_x64.lib
/DxLib/vorbis_static_vs2015_x86_MTd.lib
/DxLib/vorbis_static_vs2015_x86_MT.lib
/DxLib/vorbis_static_vs2015_x86_MDd.lib
/DxLib/vorbis_static_vs2015_x86_MD.lib
/DxLib/vorbis_static_vs2015_x64_MTd.lib
/DxLib/vorbis_static_vs2015_x64_MT.lib
/DxLib/vorbis_static_vs2015_x64_MDd.lib
/DxLib/vorbis_static_vs2015_x64_MD.lib

/DxLib/vorbis_static_d.lib
/DxLib/vorbis_static.lib
/DxLib/vorbisfile_static_x64_d.lib
/DxLib/vorbisfile_static_x64.lib
/DxLib/vorbisfile_static_vs2015_x86_MTd.lib
/DxLib/vorbisfile_static_vs2015_x86_MT.lib
/DxLib/vorbisfile_static_vs2015_x86_MDd.lib
/DxLib/vorbisfile_static_vs2015_x86_MD.lib
/DxLib/vorbisfile_static_vs2015_x64_MTd.lib
/DxLib/vorbisfile_static_vs2015_x64_MT.lib
/DxLib/vorbisfile_static_vs2015_x64_MDd.lib
/DxLib/vorbisfile_static_vs2015_x64_MD.lib

/DxLib/vorbisfile_static_d.lib
/DxLib/vorbisfile_static.lib
/DxLib/silk_common_x64_d.lib
/DxLib/silk_common_x64.lib
/DxLib/silk_common_vs2015_x86_MTd.lib
/DxLib/silk_common_vs2015_x86_MT.lib
/DxLib/silk_common_vs2015_x86_MDd.lib
/DxLib/silk_common_vs2015_x86_MD.lib
/DxLib/silk_common_vs2015_x64_MTd.lib
/DxLib/silk_common_vs2015_x64_MT.lib
/DxLib/silk_common_vs2015_x64_MDd.lib
/DxLib/silk_common_vs2015_x64_MD.lib

/DxLib/silk_common_d.lib
/DxLib/silk_common.lib
/DxLib/opus_x64_d.lib
/DxLib/opus_x64.lib
/DxLib/opus_vs2015_x86_MTd.lib
/DxLib/opus_vs2015_x86_MT.lib
/DxLib/opus_vs2015_x86_MDd.lib
/DxLib/opus_vs2015_x86_MD.lib
/DxLib/opus_vs2015_x64_MTd.lib
/DxLib/opus_vs2015_x64_MT.lib
/DxLib/opus_vs2015_x64_MDd.lib
/DxLib/opus_vs2015_x64_MD.lib

/DxLib/opus_d.lib
/DxLib/opusfile_x64_d.lib
/DxLib/opusfile_x64.lib
/DxLib/opusfile_vs2015_x86_MTd.lib
/DxLib/opusfile_vs2015_x86_MT.lib
/DxLib/opusfile_vs2015_x86_MDd.lib
/DxLib/opusfile_vs2015_x86_MD.lib
/DxLib/opusfile_vs2015_x64_MTd.lib
/DxLib/opusfile_vs2015_x64_MT.lib
/DxLib/opusfile_vs2015_x64_MDd.lib
/DxLib/opusfile_vs2015_x64_MD.lib

/DxLib/opusfile_d.lib
/DxLib/opusfile.lib
/DxLib/opus.lib
/DxLib/ogg_static_x64_d.lib
/DxLib/ogg_static_x64.lib
/DxLib/ogg_static_vs2015_x86_MTd.lib
/DxLib/ogg_static_vs2015_x86_MT.lib
/DxLib/ogg_static_vs2015_x86_MDd.lib
/DxLib/ogg_static_vs2015_x86_MD.lib
/DxLib/ogg_static_vs2015_x64_MTd.lib
/DxLib/ogg_static_vs2015_x64_MT.lib
/DxLib/ogg_static_vs2015_x64_MDd.lib
/DxLib/ogg_static_vs2015_x64_MD.lib

/DxLib/ogg_static_d.lib
/DxLib/ogg_static.lib
/DxLib/libtiff_x64_d.lib
/DxLib/libtiff_x64.lib
/DxLib/libtiff_vs2015_x86_MTd.lib
/DxLib/libtiff_vs2015_x86_MT.lib
/DxLib/libtiff_vs2015_x86_MDd.lib
/DxLib/libtiff_vs2015_x86_MD.lib
/DxLib/libtiff_vs2015_x64_MTd.lib
/DxLib/libtiff_vs2015_x64_MT.lib
/DxLib/libtiff_vs2015_x64_MDd.lib
/DxLib/libtiff_vs2015_x64_MD.lib

/DxLib/libtiff_d.lib
/DxLib/libtiff.lib
/DxLib/libtheora_static_x64_d.lib
/DxLib/libtheora_static_x64.lib
/DxLib/libtheora_static_vs2015_x86_MTd.lib
/DxLib/libtheora_static_vs2015_x86_MT.lib
/DxLib/libtheora_static_vs2015_x86_MDd.lib
/DxLib/libtheora_static_vs2015_x86_MD.lib
/DxLib/libtheora_static_vs2015_x64_MTd.lib
/DxLib/libtheora_static_vs2015_x64_MT.lib
/DxLib/libtheora_static_vs2015_x64_MDd.lib
/DxLib/libtheora_static_vs2015_x64_MD.lib

/DxLib/libtheora_static_d.lib
/DxLib/libtheora_static.lib
/DxLib/libpng_x64_d.lib
/DxLib/libpng_x64.lib
/DxLib/libpng_vs2015_x86_MTd.lib
/DxLib/libpng_vs2015_x86_MT.lib
/DxLib/libpng_vs2015_x86_MDd.lib
/DxLib/libpng_vs2015_x86_MD.lib
/DxLib/libpng_vs2015_x64_MTd.lib
/DxLib/libpng_vs2015_x64_MT.lib
/DxLib/libpng_vs2015_x64_MDd.lib
/DxLib/libpng_vs2015_x64_MD.lib

/DxLib/libpng_d.lib
/DxLib/libpng.lib
/DxLib/libjpeg_x64_d.lib
/DxLib/libjpeg_x64.lib
/DxLib/libjpeg_vs2015_x86_MTd.lib
/DxLib/libjpeg_vs2015_x86_MT.lib
/DxLib/libjpeg_vs2015_x86_MDd.lib
/DxLib/libjpeg_vs2015_x86_MD.lib
/DxLib/libjpeg_vs2015_x64_MTd.lib
/DxLib/libjpeg_vs2015_x64_MT.lib
/DxLib/libjpeg_vs2015_x64_MDd.lib
/DxLib/libjpeg_vs2015_x64_MD.lib

/DxLib/libjpeg_d.lib
/DxLib/libjpeg.lib
/DxLib/libbulletmath_vs2015_x86_MTd.lib
/DxLib/libbulletmath_vs2015_x86_MT.lib
/DxLib/libbulletmath_vs2015_x86_MDd.lib
/DxLib/libbulletmath_vs2015_x86_MD.lib
/DxLib/libbulletmath_vs2015_x86_ItrDbgLv0_MTd.lib
/DxLib/libbulletmath_vs2015_x64_MTd.lib
/DxLib/libbulletmath_vs2015_x64_MT.lib
/DxLib/libbulletmath_vs2015_x64_MDd.lib
/DxLib/libbulletmath_vs2015_x64_MD.lib
/DxLib/libbulletmath_vs2015_x64_ItrDbgLv0_MTd.lib

/DxLib/libbulletmath_vc8_x64_d.lib
/DxLib/libbulletmath_vc8_x64.lib
/DxLib/libbulletmath_vc6_d.lib
/DxLib/libbulletmath_vc6.lib
/DxLib/libbulletdynamics_vs2015_x86_MTd.lib
/DxLib/libbulletdynamics_vs2015_x86_MT.lib
/DxLib/libbulletdynamics_vs2015_x86_MDd.lib
/DxLib/libbulletdynamics_vs2015_x86_MD.lib
/DxLib/libbulletdynamics_vs2015_x86_ItrDbgLv0_MTd.lib
/DxLib/libbulletdynamics_vs2015_x64_MTd.lib
/DxLib/libbulletdynamics_vs2015_x64_MT.lib
/DxLib/libbulletdynamics_vs2015_x64_MDd.lib
/DxLib/libbulletdynamics_vs2015_x64_MD.lib
/DxLib/libbulletdynamics_vs2015_x64_ItrDbgLv0_MTd.lib

/DxLib/libbulletdynamics_vc8_x64_d.lib
/DxLib/libbulletdynamics_vc8_x64.lib
/DxLib/libbulletdynamics_vc6_d.lib
/DxLib/libbulletdynamics_vc6.lib
/DxLib/libbulletcollision_vs2015_x86_MTd.lib
/DxLib/libbulletcollision_vs2015_x86_MT.lib
/DxLib/libbulletcollision_vs2015_x86_MDd.lib
/DxLib/libbulletcollision_vs2015_x86_MD.lib
/DxLib/libbulletcollision_vs2015_x86_ItrDbgLv0_MTd.lib
/DxLib/libbulletcollision_vs2015_x64_MTd.lib
/DxLib/libbulletcollision_vs2015_x64_MT.lib
/DxLib/libbulletcollision_vs2015_x64_MDd.lib
/DxLib/libbulletcollision_vs2015_x64_MD.lib
/DxLib/libbulletcollision_vs2015_x64_ItrDbgLv0_MTd.lib

/DxLib/libbulletcollision_vc8_x64_d.lib
/DxLib/libbulletcollision_vc8_x64.lib
/DxLib/libbulletcollision_vc6_d.lib
/DxLib/libbulletcollision_vc6.lib
/DxLib/DxUseCLib_x64_d.lib
/DxLib/DxUseCLib_x64.lib
/DxLib/DxUseCLib_vs2015_x86_MTd.lib
/DxLib/DxUseCLib_vs2015_x86_MT.lib
/DxLib/DxUseCLib_vs2015_x86_MDd.lib
/DxLib/DxUseCLib_vs2015_x86_MD.lib
/DxLib/DxUseCLib_vs2015_x86_ItrDbgLv0_MTd.lib
/DxLib/DxUseCLib_vs2015_x64_MTd.lib
/DxLib/DxUseCLib_vs2015_x64_MT.lib
/DxLib/DxUseCLib_vs2015_x64_MDd.lib
/DxLib/DxUseCLib_vs2015_x64_MD.lib
/DxLib/DxUseCLib_vs2015_x64_ItrDbgLv0_MTd.lib

/DxLib/DxUseCLib_d.lib
/DxLib/DxUseCLibW_x64_d.lib
/DxLib/DxUseCLibW_x64.lib
/DxLib/DxUseCLibW_vs2015_x86_MTd.lib
/DxLib/DxUseCLibW_vs2015_x86_MT.lib
/DxLib/DxUseCLibW_vs2015_x86_MDd.lib
/DxLib/DxUseCLibW_vs2015_x86_MD.lib
/DxLib/DxUseCLibW_vs2015_x86_ItrDbgLv0_MTd.lib
/DxLib/DxUseCLibW_vs2015_x64_MTd.lib
/DxLib/DxUseCLibW_vs2015_x64_MT.lib
/DxLib/DxUseCLibW_vs2015_x64_MDd.lib
/DxLib/DxUseCLibW_vs2015_x64_MD.lib
/DxLib/DxUseCLibW_vs2015_x64_ItrDbgLv0_MTd.lib

/DxLib/DxUseCLibW_d.lib
/DxLib/DxUseCLibW.lib
/DxLib/DxUseCLib.lib
/DxLib/DxLib_x64_d.lib
/DxLib/DxLib_x64.lib
/DxLib/DxLib_vs2015_x86_MTd.lib
/DxLib/DxLib_vs2015_x86_MT.lib
/DxLib/DxLib_vs2015_x86_MDd.lib
/DxLib/DxLib_vs2015_x86_MD.lib
/DxLib/DxLib_vs2015_x64_MTd.lib
/DxLib/DxLib_vs2015_x64_MT.lib
/DxLib/DxLib_vs2015_x64_MDd.lib
/DxLib/DxLib_vs2015_x64_MD.lib

/DxLib/DxLib_d.lib
/DxLib/DxLibW_x64_d.lib
/DxLib/DxLibW_x64.lib
/DxLib/DxLibW_vs2015_x86_MTd.lib
/DxLib/DxLibW_vs2015_x86_MT.lib
/DxLib/DxLibW_vs2015_x86_MDd.lib
/DxLib/DxLibW_vs2015_x86_MD.lib
/DxLib/DxLibW_vs2015_x64_MTd.lib
/DxLib/DxLibW_vs2015_x64_MT.lib
/DxLib/DxLibW_vs2015_x64_MDd.lib
/DxLib/DxLibW_vs2015_x64_MD.lib

/DxLib/DxLibW_d.lib
/DxLib/DxLibW.lib
/DxLib/DxDrawFunc_x64_d.lib
/DxLib/DxDrawFunc_x64.lib
/DxLib/DxDrawFunc_vs2015_x86_MTd.lib
/DxLib/DxDrawFunc_vs2015_x86_MT.lib
/DxLib/DxDrawFunc_vs2015_x86_MDd.lib
/DxLib/DxDrawFunc_vs2015_x86_MD.lib
/DxLib/DxDrawFunc_vs2015_x64_MTd.lib
/DxLib/DxDrawFunc_vs2015_x64_MT.lib
/DxLib/DxDrawFunc_vs2015_x64_MDd.lib
/DxLib/DxDrawFunc_vs2015_x64_MD.lib

/DxLib/DxDrawFunc_d.lib
/DxLib/DxDrawFunc.lib
/DxLib/DxDataTypeWin.h
/DxLib/DxDataType.h
/DxLib/DxCompileConfig.h
/DxLib/celt_x64_d.lib
/DxLib/celt_x64.lib
/DxLib/celt_vs2015_x86_MTd.lib
/DxLib/celt_vs2015_x86_MT.lib
/DxLib/celt_vs2015_x86_MDd.lib
/DxLib/celt_vs2015_x86_MD.lib
/DxLib/celt_vs2015_x64_MTd.lib
/DxLib/celt_vs2015_x64_MT.lib
/DxLib/celt_vs2015_x64_MDd.lib
/DxLib/celt_vs2015_x64_MD.lib

/DxLib/celt_d.lib
/DxLib/celt.lib
/work_dir/config.json
/Otoge.sln.DotSettings.user
/Bin
/WorkDir
/PDB
/Otoge/x64
/x64/Debug
/x64/Release/Otoge.xml
/Otoge/Debug
/Debug
