################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs

/DxLib/zlib_vs2013_x86_d.lib
/DxLib/zlib_vs2013_x86.lib
/DxLib/zlib_vs2013_x64_d.lib
/DxLib/zlib_vs2013_x64.lib
/DxLib/zlib_vs2012_x86_d.lib
/DxLib/zlib_vs2012_x86.lib
/DxLib/zlib_vs2012_x64_d.lib
/DxLib/zlib_vs2012_x64.lib

/DxLib/vorbis_static_vs2013_x86_d.lib
/DxLib/vorbis_static_vs2013_x86.lib
/DxLib/vorbis_static_vs2013_x64_d.lib
/DxLib/vorbis_static_vs2013_x64.lib
/DxLib/vorbis_static_vs2012_x86_d.lib
/DxLib/vorbis_static_vs2012_x86.lib
/DxLib/vorbis_static_vs2012_x64_d.lib
/DxLib/vorbis_static_vs2012_x64.lib

/DxLib/vorbisfile_static_vs2013_x86_d.lib
/DxLib/vorbisfile_static_vs2013_x86.lib
/DxLib/vorbisfile_static_vs2013_x64_d.lib
/DxLib/vorbisfile_static_vs2013_x64.lib
/DxLib/vorbisfile_static_vs2012_x86_d.lib
/DxLib/vorbisfile_static_vs2012_x86.lib
/DxLib/vorbisfile_static_vs2012_x64_d.lib
/DxLib/vorbisfile_static_vs2012_x64.lib

/DxLib/silk_common_vs2013_x86_d.lib
/DxLib/silk_common_vs2013_x86.lib
/DxLib/silk_common_vs2013_x64_d.lib
/DxLib/silk_common_vs2013_x64.lib
/DxLib/silk_common_vs2012_x86_d.lib
/DxLib/silk_common_vs2012_x86.lib
/DxLib/silk_common_vs2012_x64_d.lib
/DxLib/silk_common_vs2012_x64.lib

/DxLib/opus_vs2013_x86_d.lib
/DxLib/opus_vs2013_x86.lib
/DxLib/opus_vs2013_x64_d.lib
/DxLib/opus_vs2013_x64.lib
/DxLib/opus_vs2012_x86_d.lib
/DxLib/opus_vs2012_x86.lib
/DxLib/opus_vs2012_x64_d.lib
/DxLib/opus_vs2012_x64.lib

/DxLib/opusfile_vs2013_x86_d.lib
/DxLib/opusfile_vs2013_x86.lib
/DxLib/opusfile_vs2013_x64_d.lib
/DxLib/opusfile_vs2013_x64.lib
/DxLib/opusfile_vs2012_x86_d.lib
/DxLib/opusfile_vs2012_x86.lib
/DxLib/opusfile_vs2012_x64_d.lib
/DxLib/opusfile_vs2012_x64.lib

/DxLib/ogg_static_vs2013_x86_d.lib
/DxLib/ogg_static_vs2013_x86.lib
/DxLib/ogg_static_vs2013_x64_d.lib
/DxLib/ogg_static_vs2013_x64.lib
/DxLib/ogg_static_vs2012_x86_d.lib
/DxLib/ogg_static_vs2012_x86.lib
/DxLib/ogg_static_vs2012_x64_d.lib
/DxLib/ogg_static_vs2012_x64.lib

/DxLib/libtiff_vs2013_x86_d.lib
/DxLib/libtiff_vs2013_x86.lib
/DxLib/libtiff_vs2013_x64_d.lib
/DxLib/libtiff_vs2013_x64.lib
/DxLib/libtiff_vs2012_x86_d.lib
/DxLib/libtiff_vs2012_x86.lib
/DxLib/libtiff_vs2012_x64_d.lib
/DxLib/libtiff_vs2012_x64.lib

/DxLib/libtheora_static_vs2013_x86_d.lib
/DxLib/libtheora_static_vs2013_x86.lib
/DxLib/libtheora_static_vs2013_x64_d.lib
/DxLib/libtheora_static_vs2013_x64.lib
/DxLib/libtheora_static_vs2012_x86_d.lib
/DxLib/libtheora_static_vs2012_x86.lib
/DxLib/libtheora_static_vs2012_x64_d.lib
/DxLib/libtheora_static_vs2012_x64.lib

/DxLib/libpng_vs2013_x86_d.lib
/DxLib/libpng_vs2013_x86.lib
/DxLib/libpng_vs2013_x64_d.lib
/DxLib/libpng_vs2013_x64.lib
/DxLib/libpng_vs2012_x86_d.lib
/DxLib/libpng_vs2012_x86.lib
/DxLib/libpng_vs2012_x64_d.lib
/DxLib/libpng_vs2012_x64.lib

/DxLib/libjpeg_vs2013_x86_d.lib
/DxLib/libjpeg_vs2013_x86.lib
/DxLib/libjpeg_vs2013_x64_d.lib
/DxLib/libjpeg_vs2013_x64.lib
/DxLib/libjpeg_vs2012_x86_d.lib
/DxLib/libjpeg_vs2012_x86.lib
/DxLib/libjpeg_vs2012_x64_d.lib
/DxLib/libjpeg_vs2012_x64.lib

/DxLib/libbulletmath_vs2013_x86_ItrDbgLv0_d.lib
/DxLib/libbulletmath_vs2013_x86_d.lib
/DxLib/libbulletmath_vs2013_x86.lib
/DxLib/libbulletmath_vs2013_x64_ItrDbgLv0_d.lib
/DxLib/libbulletmath_vs2013_x64_d.lib
/DxLib/libbulletmath_vs2013_x64.lib
/DxLib/libbulletmath_vs2012_x86_ItrDbgLv0_d.lib
/DxLib/libbulletmath_vs2012_x86_d.lib
/DxLib/libbulletmath_vs2012_x86.lib
/DxLib/libbulletmath_vs2012_x64_ItrDbgLv0_d.lib
/DxLib/libbulletmath_vs2012_x64_d.lib
/DxLib/libbulletmath_vs2012_x64.lib

/DxLib/libbulletdynamics_vs2013_x86_ItrDbgLv0_d.lib
/DxLib/libbulletdynamics_vs2013_x86_d.lib
/DxLib/libbulletdynamics_vs2013_x86.lib
/DxLib/libbulletdynamics_vs2013_x64_ItrDbgLv0_d.lib
/DxLib/libbulletdynamics_vs2013_x64_d.lib
/DxLib/libbulletdynamics_vs2013_x64.lib
/DxLib/libbulletdynamics_vs2012_x86_ItrDbgLv0_d.lib
/DxLib/libbulletdynamics_vs2012_x86_d.lib
/DxLib/libbulletdynamics_vs2012_x86.lib
/DxLib/libbulletdynamics_vs2012_x64_ItrDbgLv0_d.lib
/DxLib/libbulletdynamics_vs2012_x64_d.lib
/DxLib/libbulletdynamics_vs2012_x64.lib

/DxLib/libbulletcollision_vs2013_x86_ItrDbgLv0_d.lib
/DxLib/libbulletcollision_vs2013_x86_d.lib
/DxLib/libbulletcollision_vs2013_x86.lib
/DxLib/libbulletcollision_vs2013_x64_ItrDbgLv0_d.lib
/DxLib/libbulletcollision_vs2013_x64_d.lib
/DxLib/libbulletcollision_vs2013_x64.lib
/DxLib/libbulletcollision_vs2012_x86_ItrDbgLv0_d.lib
/DxLib/libbulletcollision_vs2012_x86_d.lib
/DxLib/libbulletcollision_vs2012_x86.lib
/DxLib/libbulletcollision_vs2012_x64_ItrDbgLv0_d.lib
/DxLib/libbulletcollision_vs2012_x64_d.lib
/DxLib/libbulletcollision_vs2012_x64.lib

/DxLib/DxUseCLib_vs2013_x86_ItrDbgLv0_d.lib
/DxLib/DxUseCLib_vs2013_x86_d.lib
/DxLib/DxUseCLib_vs2013_x86.lib
/DxLib/DxUseCLib_vs2013_x64_ItrDbgLv0_d.lib
/DxLib/DxUseCLib_vs2013_x64_d.lib
/DxLib/DxUseCLib_vs2013_x64.lib
/DxLib/DxUseCLib_vs2012_x86_ItrDbgLv0_d.lib
/DxLib/DxUseCLib_vs2012_x86_d.lib
/DxLib/DxUseCLib_vs2012_x86.lib
/DxLib/DxUseCLib_vs2012_x64_ItrDbgLv0_d.lib
/DxLib/DxUseCLib_vs2012_x64_d.lib
/DxLib/DxUseCLib_vs2012_x64.lib

/DxLib/DxUseCLibW_vs2013_x86_ItrDbgLv0_d.lib
/DxLib/DxUseCLibW_vs2013_x86_d.lib
/DxLib/DxUseCLibW_vs2013_x86.lib
/DxLib/DxUseCLibW_vs2013_x64_ItrDbgLv0_d.lib
/DxLib/DxUseCLibW_vs2013_x64_d.lib
/DxLib/DxUseCLibW_vs2013_x64.lib
/DxLib/DxUseCLibW_vs2012_x86_ItrDbgLv0_d.lib
/DxLib/DxUseCLibW_vs2012_x86_d.lib
/DxLib/DxUseCLibW_vs2012_x86.lib
/DxLib/DxUseCLibW_vs2012_x64_ItrDbgLv0_d.lib
/DxLib/DxUseCLibW_vs2012_x64_d.lib
/DxLib/DxUseCLibW_vs2012_x64.lib

/DxLib/DxLib_vs2012_x86_d.lib
/DxLib/DxLib_vs2012_x86.lib
/DxLib/DxLib_vs2012_x64_d.lib
/DxLib/DxLib_vs2012_x64.lib

/DxLib/DxLibW_vs2012_x86_d.lib
/DxLib/DxLibW_vs2012_x86.lib
/DxLib/DxLibW_vs2012_x64_d.lib
/DxLib/DxLibW_vs2012_x64.lib
/DxLib/DxLibW_d.lib
/DxLib/DxLibW.lib

/DxLib/DxDrawFunc_vs2012_x86_d.lib
/DxLib/DxDrawFunc_vs2012_x86.lib
/DxLib/DxDrawFunc_vs2012_x64_d.lib
/DxLib/DxDrawFunc_vs2012_x64.lib

/DxLib/celt_vs2013_x86_d.lib
/DxLib/celt_vs2013_x86.lib
/DxLib/celt_vs2013_x64_d.lib
/DxLib/celt_vs2013_x64.lib
/DxLib/celt_vs2012_x86_d.lib
/DxLib/celt_vs2012_x86.lib
/DxLib/celt_vs2012_x64_d.lib
/DxLib/celt_vs2012_x64.lib

/work_dir/config.json
/Otoge.sln.DotSettings.user
/Bin
/WorkDir
/PDB
/Otoge/x64
/x64/Debug
/x64/Release/Otoge.xml
/Otoge/Debug
/Debug
